<% if logged_in? %>

<h1>ようこそ MySyukatsu へ！</h1>
<h3>現在ログインしています。</h3>
<h2>本サイトの使い方</h2>
<ul class="home-explain">
  <li>ヘッダーの「ユーザー：(登録した名前)」からマイページに移動できます。</li>
  <li>マイページの左側「企業を登録する」から企業を追加します。</li>
  <li>追加した企業は、マイページ右側「企業登録一覧」に追加されます。一覧の表示順は最新の登録・更新順になります。</li>
  <li>「登録企業一覧」の企業名から詳細ページに移動し、登録した企業の情報が確認できます。</li>
  <li>詳細ページから企業情報の編集・削除ができます。</li>
  <li>ヘッダーの「アカウント」⇨「設定」からアカウントの設定・削除ができます。また「ログアウト」からログアウトができます。</li>
</ul>

<% else %>

<h1>これから社会人として羽ばたく</h1>
<h3>私たちにはどんな未来が待っているだろう。</h3>

<div　class="row">
  <div class="col-md-6 signup-login-contain">
    <%= image_tag "home_logo.jpg" %>
    <h3 class="explain">My就活は就職活動を頑張る学生に向けた就職管理アプリです</h2>
    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %><br>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div class="col-md-6">
    <%= image_tag "home_picture.png" %>
  </div>
</div>
<% end %>