<li id="corporate-<%= corporate.id %>">
  <span class="corp-name">企業名：<%= corporate.corp_name %></span>
  <span class="aspiration">志望度：<%= corporate.aspiration %></span>
  <span class="timestamp">
    更新：<%= corporate.updated_at.in_time_zone("Tokyo") %>
  </span>
</li>