<li id="corporate-<%= corporate.id %>">
  <span class="user"><%= link_to corporate.user.name, corporate.user %></span>
  <span class="corp-name"><%= corporate.corp_name %></span>
  <span class="timestamp">
    更新：<%= corporate.updated_at %>
  </span>
</li>