.corp-list {
  list-style: none;
}

#corporate-detail p {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 15px;
}

.corp-details {
  font-size: 1.5rem;
    position: relative;
    padding: 0.25em 1em;
    margin: 2em 0;
    top: 0;
    background: #efefef;
}
.corp-details:before, .corp-details:after{ 
    position: absolute;
    top: 0;
    content:'';
    width: 10px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.corp-details:before{
    border-left: dotted 2px #15adc1;
    border-top: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    left: 0;
}
.corp-details:after{
    border-top: dotted 2px #15adc1;
    border-right: dotted 2px #15adc1;
    border-bottom: dotted 2px #15adc1;
    right: 0;
}

#corporate-detail {
    padding: 1em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.text-center {
  text-align: center;
}

.back-button {
  font-size: 1.6rem;
  float: right;
}