.home-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-login-contain {
  margin-top: 50px;
  text-align: center;
}

.explain {
  margin-top: 60px;
}

.btn {
  margin-bottom: 10px;
}

.home-explain > li {
  font-size: 1.5rem;
  margin-bottom: 20px;
}