<footer class="footer">
  <small>
    MySyukatsu by Kohei Matsuo
  </small>
  <nav>
    <ul>
      <li><%= link_to "本サイトについて",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>